# Django settings
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=secret_key
DJANGO_ALLOWED_HOSTS=.localhost,127.0.0.1,[::1]

# PostgreSQL data
POSTGRES_DB_NAME=movies
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASS=postgres
POSTGRES_DB_HOST=db
POSTGRES_DB_PORT=5432
POSTGRES_DB_OPTS=-c search_path=public,content

# SQLite data
SQLITE_DB_NAME=db.sqlite
